In [2]:
import pandas as pd

In [7]:
# read in training data
dtype = {'id':'string',
         'date':'string',
         'country':'string',
         'store':'string',
         'product':'string',
         'country':'string',
         'num_sold':'int'}
df = pd.read_csv('files/train.csv', dtype=dtype, index_col='id')
df['date'] = pd.to_datetime(df['date'])
df

,date,country,store,product,num_sold
id,,,,,
0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63
1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66
2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9
3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59
4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49
...,...,...,...,...,...
136945,2021-12-31,Spain,Kagglazon,Using LLMs to Improve Your Coding,700
136946,2021-12-31,Spain,Kagglazon,Using LLMs to Train More LLMs,752
136947,2021-12-31,Spain,Kagglazon,Using LLMs to Win Friends and Influence People,111
136948,2021-12-31,Spain,Kagglazon,Using LLMs to Win More Kaggle Competitions,641
136949,2021-12-31,Spain,Kagglazon,Using LLMs to Write Better,539

In [13]:
# product data
for col in df.columns[1:-1]:
    print(col)
    for item in df[col].unique():
        print('\t', item)

country
	 Argentina
	 Canada
	 Estonia
	 Japan
	 Spain
store
	 Kaggle Learn
	 Kaggle Store
	 Kagglazon
product
	 Using LLMs to Improve Your Coding
	 Using LLMs to Train More LLMs
	 Using LLMs to Win Friends and Influence People
	 Using LLMs to Win More Kaggle Competitions
	 Using LLMs to Write Better

In [26]:
5*3*5

75

In [16]:
# date data
len(df['date'].unique()), df['date'].unique().min(), df['date'].unique().max()

(1826,
 numpy.datetime64('2017-01-01T00:00:00.000000000'),
 numpy.datetime64('2021-12-31T00:00:00.000000000'))

In [28]:
# checking for holes in data
print((df['date'].unique().max() - df['date'].unique().min()).astype('timedelta64[D]')+1)
df.groupby('date')[['num_sold']].count().sort_values('num_sold')

1826 days

            num_sold
date
2017-01-01        75
2020-05-08        75
2020-05-07        75
2020-05-06        75
2020-05-05        75
...              ...
2018-08-27        75
2018-08-26        75
2018-08-25        75
2018-08-23        75
2021-12-31        75

[1826 rows x 1 columns]

In [31]:
# forecast variable
df['num_sold'].describe()

count    136950.000000
mean        165.522636
std         183.691575
min           2.000000
25%          46.000000
50%          98.000000
75%         184.000000
max        1380.000000
Name: num_sold, dtype: float64

In [32]:
df['num_sold'].plot(kind='hist')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.